<div class="row" [class.admin]="page">
  <div *ngIf="page" class="col-1 border">
    <aside class="menu p-1">
      <p class="menu-label">Admin</p>
      <ul class="menu-list px-0">
        <li class="border">
          <a routerLink="/admin">
            <span class="dropdown-item" class="icon has-text-info">
              <i class="fa-solid fa-chart-line"></i>
            </span>
            <span class="ml-1">Statistics</span>
          </a>
        </li>
        <li class="border">
          <a routerLink="/admin/chat">
            <span class="dropdown-item" class="icon has-text-info">
              <i class="fa fa-comments"></i>
            </span>
            <span class="ml-1">Chats</span>
          </a>
        </li>
        <li class="border">
          <a routerLink="/admin/users">
            <span class="dropdown-item" class="icon has-text-info">
              <i class="fa fa-users"></i>
            </span>
            <span class="ml-1">Users</span>
          </a>
        </li>
        <li class="border">
          <a (click)="onLogout()">
            <span class="dropdown-item" class="icon has-text-info">
              <i class="fa fa-right-from-bracket"></i>
            </span>
            <span>Log out</span>
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <div class="col-11">
    <div id="divChart">
      <canvas id="postChart"></canvas>
    </div>
  </div>
</div>
