<div class="row">
  <div class="col-md-6 offset-md-3 mt-6 box">
    <div class="has-text-centered">
      <i class="fa fa-3x fa-key"></i>
      <p class="is-size-3 text-center">Reset Password</p>
    </div>
    <form
      class="my-2 mt-4"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onResetPassword()"
    >
      <div class="mb-6">
        <div class="field">
          <p class="m-0 control">
            <input
              autocomplete="off"
              class="input"
              name="email"
              type="text"
              formControlName="email"
              placeholder="Email"
              [ngClass]="{
                'is-danger': email.invalid && (email.dirty || email.touched),
                'is-success': email.valid
              }"
            />
          </p>

          <app-error-field
            [control]="email"
            [errorMessages]="validationMessages.email"
          >
          </app-error-field>
        </div>

        <div class="field">
          <p class="m-0 control">
            <input
              autocomplete="off"
              class="input"
              name="newPassword"
              type="password"
              formControlName="newPassword"
              placeholder="New Password"
              [ngClass]="{
                'is-danger':
                  newPassword.invalid &&
                  (newPassword.dirty || newPassword.touched),
                'is-success': newPassword.valid
              }"
            />
          </p>

          <app-error-field
            [control]="newPassword"
            [errorMessages]="validationMessages.newPassword"
          >
          </app-error-field>
        </div>
      </div>

      <div class="mb-1">
        <button
          [disabled]="resetPasswordForm.invalid"
          type="submit"
          class="btn w-100"
          [ngClass]="resetPasswordForm.invalid ? 'btn-primary' : 'btn-success'"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
