<ng-template #forgotpassForm>
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-6 box p-0">
      <div class="px-3 pt-4">
        <div class="text-center">
          <i class="fa fa-4x fa-lock"></i>
          <p class="is-size-4">Trouble logging in?</p>
          <p class="is-size-6 has-text-grey-light">
            Enter your email and we'll send you a link to get back into your
            account.
          </p>
        </div>
        <form
          class="my-5"
          [formGroup]="forgotPasswordForm"
          (ngSubmit)="onforgotPassword()"
        >
          <div class="mb-4">
            <div class="field">
              <p class="m-0 control">
                <input
                  autocomplete="off"
                  class="input"
                  name="email"
                  type="text"
                  formControlName="email"
                  placeholder="Email"
                  [ngClass]="{
                    'is-danger':
                      email.invalid && (email.dirty || email.touched),
                    'is-success': email.valid
                  }"
                />
              </p>

              <app-error-field
                [control]="email"
                [errorMessages]="validationMessages.email"
              >
              </app-error-field>
            </div>
          </div>

          <div class="mb-1">
            <button
              [disabled]="forgotPasswordForm.invalid"
              type="submit"
              class="btn w-100"
              [ngClass]="
                forgotPasswordForm.invalid ? 'btn-primary' : 'btn-success'
              "
            >
              Send login link
            </button>
          </div>

          <div class="has-text-centered my-3 separator">
            <div class="has-background-grey-lighter line"></div>
            <div class="mx-2 is-size-7 has-text-grey">OR</div>
            <div class="has-background-grey-lighter line"></div>
          </div>
          <p class="is-size-6 text-center mt-1">
            <a routerLink="/auth/signup">Create new account</a>
          </p>
        </form>
      </div>
      <div>
        <a routerLink="/auth">
          <p class="has-text-centered m-0 p-2 border-top">
            <i class="fa-solid mr-1 fa-chevron-left"></i>
            Back to login
          </p>
        </a>
      </div>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="emailSent; else forgotpassForm">
  <div class="col-md-6 offset-md-3 mt-6 box">
    <div class="px-3 pt-4">
      <div class="text-center">
        <i class="fa-solid mb-3 fa-3x fa-lock-open"></i>
        <p class="is-size-4 m-0">Email Sent</p>
        <p class="is-size-6 has-text-grey-light">
          We sent an email to {{ hiddenEmail }} with a link to get back into
          your account.
        </p>
      </div>
    </div>

    <p class="has-text-centered">
      <a class="is-ghost" routerLink="/auth">OK</a>
    </p>
  </div>
</ng-container>
