<div class="container">
  <p class="d-flex mb-2 pb-2 align-items-center justify-content-start">
    <a routerLink="/" class="m-0">
      <i class="fa-solid mr-1 fa-chevron-left"></i>
      Home</a
    >
  </p>

  <div class="row my-4">
    <div class="col-md-12">
      <h3>My Posts</h3>
      <hr />
      <div
        *ngIf="posts.length; else nothing"
        class="row row-cols-1 my-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4"
      >
        <div *ngFor="let post of posts" class="card-group col">
          <div class="card">
            <img
              [src]="post.imageUrl"
              class="card-img-top"
              style="background-size: cover; height: 250px"
              alt="image for {{ post.title }}"
            />
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="card-text min-length-text has-text-grey-light">
                  {{ post.title }}
                </p>
              </div>
              <p style="font-weight: bold" class="py-3 m-0">
                {{ post.priceInDollar | currency }}
              </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <p class="is-size-7 m-0 card-text has-text-grey-light">
                {{ post.location }}
              </p>
              <small class="has-text-grey-light">{{
                post.createdAt | timeAgo
              }}</small>
            </div>
            <div class="p-0">
              <button routerLink="{{ post.id }}" class="btn w-100 btn-primary">
                Edit
              </button>
            </div>
            <div class="p-0 mt-2">
              <button (click)="onDelete(post.id)" class="btn w-100 btn-danger">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>

      <ng-template #nothing>
        <h5 class="mt-4 has-text-grey">No Posts</h5>
      </ng-template>
    </div>
  </div>
</div>
